@model EverlyHealth.Models.Member

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortenUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortenUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var contact in Model.Contacts)
                {
                    @contact.Name
                    <br />
                    <a href="@contact.ShortenUrl">@contact.ShortenUrl</a>
                }
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Headings)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var heading in Model.Headings)
                {
                    @heading <br />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
